.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

h1 {
  color: blue;
  text-shadow: 2px 2px silver;
}

body {
  background-image: url("./images/openbooks.jpeg");
  background-color: maroon;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: whitesmoke;
  font-style: bold;
  font-weight: 450;
  text-shadow: 2px 2px black;
}

form {
  text-align: center;
}

ul {
  list-style-type: none; padding: 2px; margin: 0px;
  color: grey;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
